<html lang="kr">
{{> layout/header }}
<body>
<div class="container mt-3">
    <form class="row g-3">
        <div class="col-md-1">
            <label for="name" class="form-label">이름</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="col-md-4">
            <label for="accessKey" class="form-label">AccessKey</label>
            <input type="text" class="form-control" id="accessKey">
        </div>
        <div class="col-md-4">
            <label for="secretKey" class="form-label">SecretKey</label>
            <input type="text" class="form-control" id="secretKey">
        </div>
        <div class="col-md-3">
            <label for="expireDateTime" class="form-label">만료일시</label>
            <input type="datetime-local" class="form-control" id="expireDateTime">
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-primary" onclick="saveAccessInfo()">저장하기</button>
        </div>
    </form>
</div>
<div class="container mt-3">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">이름</th>
            <th scope="col">AccessKey</th>
            <th scope="col">SecretKey</th>
            <th scope="col">만료일시</th>
            <th scope="col">삭제버튼</th>
        </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
</div>
</body>
<script id="table-body-row-template" type="text/x-handlebars-template">
    <tr>
        <th scope="row">{row}</th>
        <td>{name}</td>
        <td>{accessKey}</td>
        <td>{secretKey}</td>
        <td>{expireTime}</td>
        <td><button type="button" class="btn btn-danger" onclick="deleteAccessInfo({seq})">삭제</button></td>
    </tr>
</script>
<script>
    async function saveAccessInfo() {
        const parmse = {
            name: $("#name").value,
            accessKey: $("#accessKey").value,
            secretKey: $("#secretKey").value,
            expireDateTime: $("#expireDateTime").value
        }
        let response = await POST('/api/v1/upbit/access-info', parmse)
        console.log(`${response}가 저장되었습니다.`)
        clear("#name", "#accessKey", "#secretKey", "#expireDateTime")
    }

    async function deleteAccessInfo(seq) {
        if (typeof seq === 'undefined') {
            alert("잘못된 요청입니다.")
            return
        }

        let data = await DELETE(`/api/v1/upbit/access-info/${seq}`);
        if (data == null) {
            await table.callList()
        }
    }


    const table = {
        tableBody: $('#table-body'),
        init: function () {
            this.callList()
        },
        callList: async function () {
            let response = await GET('/api/v1/upbit/access-info');
            this.tableBody.innerHTML = ''
            response.data.forEach((value, index) => {
                const param = {
                    row : index + 1,
                    ...value
                }
                this.tableBody.insertAdjacentHTML("beforeend", handleBarsCompile("#table-body-row-template", param))
            })
        }
    }

    table.init();

</script>
</html>